<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>노드제이에스 학습</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js">
    </script>


</head>

<body>
    <%- include('nav.html') %>
    <div class="container mt-3">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title"><%= data.제목 %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= data.날짜 %></h6>
                <p class="card-text">임시내용입니다.</p>
                <a href="#" class="card-link">수정하기</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>

</html>